:root {
    --cor_1: #f8d942;
    --cor_2: #edf8fb;
    --cor_3: #0e0910;
    --cor_1_complemento: #e8b534;

    --branco: #ffffff;
    --cinza: #5f6368;
    --sombra: rgba(0,0,0,0.08);
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: var(--cor_2);

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;      
}


.brand {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    margin-bottom: 25px;
}

.brand img {
    width: 90px;
    height: auto;
}

.brand span {
    font-size: 28px;
    font-weight: bold;
    color: var(--cor_3);
}

.container {
    width: 380px;
    background: var(--branco);
    border-radius: 14px;
    box-shadow: 0 10px 25px var(--sombra);
    overflow: hidden;
    padding: 0%;
}

.inner {
    padding: 20px;
}

.tabs {
    display: flex;
    background: var(--cor_2);
}

.tab {
    flex: 1;
    padding: 12px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    color: var(--cinza);
    transition: 0.3s;
}

.tab.active {
    background: var(--branco);
    color: var(--cor_3);
    border-bottom: 3px solid var(--cor_1);
}

.form {
    display: none;
    padding: 20px;
}

.form.active {
    display: block;
}

h2 {
    text-align: center;
    color: var(--cor_3);
}

input {
    width: 100%;
    padding: 10px 0;   /* 👈 sem padding lateral */
    margin: 15px 0;

    border: none;
    border-bottom: 2px solid var(--cor_1);

    outline: none;
    background: transparent;

    display: block;
}
input:focus {
    border-bottom: 2px solid var(--cor_1_complemento);
}

button {
    width: 100%;
    padding: 12px;
    background: var(--cor_1);
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    color: var(--cor_3);
}

button:hover {
    background: var(--cor_1_complemento);
}