:root {

    --cor_1: #f8d942;
    --cor_2: #edf8fb;
    --cor_3: #0e0910;
    --cor_1_complemento: #e8b534;

    --branco: #ffffff;
    --cinza: #5f6368;
    --sombra: rgba(0,0,0,0.08);

}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}

body{
    background:var(--cor_2);
    color:var(--cor_3);
}

header{

    width:100%;
    height:85px;

    background:var(--cor_1);

    display:flex;
    align-items:center;
    justify-content:space-between;

    padding:0 50px;

    box-shadow:0 2px 10px var(--sombra);

}

.logo{

    display:flex;
    align-items:center;
    gap:15px;

    font-size:1.5rem;
    font-weight:800;

    color:var(--cor_3);

}

.logo-img{

    width:45px;
    height:45px;

    object-fit:contain;

}

.menu{

    display:flex;
    gap:35px;

}

.menu a{

    text-decoration:none;

    color:var(--cor_3);

    font-weight:600;

    transition:0.2s;

}

.menu a:hover{

    opacity:0.7;

}

.container{

    width:92%;
    max-width:1400px;

    margin:auto;

    padding:50px 0;

}

.introducao{

    text-align:center;

    margin-bottom:50px;

}

.introducao h1{

    font-size:4rem;

    margin-bottom:15px;

}

.introducao p{

    font-size:1.1rem;

    color:var(--cinza);

}

.recursos{

    display:flex;

    grid-template-areas: 1fr 1fr;

    gap:30px;

}

.container{
    display: flex;
    flex-direction: column; gap: 1rem;
}
.card{

    background:var(--branco);

    border-radius:25px;

    padding:35px;

    box-shadow:0 5px 20px var(--sombra);

}

.card h2{

    margin-bottom:25px;

    font-size:2rem;

}

button{

    width:100%;

    background:var(--cor_1);

    border:none;

    padding:18px;

    border-radius:15px;

    color:var(--cor_3);

    font-weight:700;

    font-size:1rem;

    cursor:pointer;

    transition:0.3s;

    margin-top:15px;

    box-shadow:
        inset -3px -3px var(--cor_1_complemento);

}

button:hover{

    transform:translateY(-2px);

    background:var(--cor_1_complemento);

}

.norma-btn{

    text-align:left;

    padding:30px;

    border-radius:20px;

}

.norma-btn h3{

    font-size:1.8rem;

    margin-bottom:8px;

}

.norma-btn p{

    color:#3f3f3f;

}

.iso27001{

    background:#ffe45c;

}

.iso27701{

    background:#ffd43b;

}

input,
select,
textarea{

    width:100%;

    padding:16px;

    border-radius:15px;

    border:2px solid #d9e2e6;

    margin-top:15px;

    background:white;

    font-size:1rem;

}

input:focus,
select:focus,
textarea:focus{

    outline:none;

    border-color:var(--cor_1);

}

.question-card{

    background:white;

    border-radius:25px;

    padding:35px;

    margin-top:25px;

    box-shadow:0 4px 15px var(--sombra);

}

.question-card h3{

    font-size:1.5rem;

    margin-bottom:15px;

}

.question-card p{

    color:var(--cinza);

    margin-bottom:25px;

}
.options{

    display:flex;

    flex-direction:column;

    gap:18px;

}

.options label{

    display:flex;

    align-items:center;

    gap:12px;

    font-weight:500;

}

.options input{

    width:auto;

    margin:0;

}

.result-grid{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:25px;

    margin-top:30px;

}

.result-box{

    background:white;

    border-radius:25px;

    padding:35px;

    text-align:center;

    box-shadow:0 4px 15px var(--sombra);

}

.result-box h2{

    font-size:4rem;

    color:var(--cor_1_complemento);

    margin-top:10px;

}

.table-box{

    background:white;

    padding:30px;

    border-radius:25px;

    margin-top:30px;

    overflow:auto;

    box-shadow:0 4px 15px var(--sombra);

}

.hidden{
    display:none;
}

canvas{

    margin-top:30px;

}

@media(max-width:900px){

    .recursos{
        grid-template-columns:1fr;
    }

    .result-grid{
        grid-template-columns:1fr;
    }

    .introducao h1{
        font-size:2.8rem;
    }

    header{

        flex-direction:column;

        height:auto;

        padding:20px;

        gap:20px;

    }

    .menu{

        flex-wrap:wrap;

        justify-content:center;

    }

}

.card.formulario {
    display: flex;
    flex-direction: column; gap: 1rem;
}




/* OPÇÕES */

.options{

    display:flex;

    flex-direction:column;

    gap:18px;

}

.radio-option{

    display:flex;

    align-items:center;

    gap:12px;

    cursor:pointer;

    font-size:1rem;

    font-weight:500;

}

.radio-option input{

    display:none;

}

.custom-radio{

    width:18px;
    height:18px;

    border-radius:50%;

    border:2px solid #ccc;

    display:flex;

    align-items:center;

    justify-content:center;

}

.custom-radio::after{

    content:"";

    width:10px;
    height:10px;

    border-radius:50%;

    background:transparent;

}

.sim .custom-radio{
    border-color:#22c55e;
}

.sim input:checked + .custom-radio::after{
    background:#22c55e;
}

.não .custom-radio{
    border-color:#ef4444;
}

.não input:checked + .custom-radio::after{
    background:#ef4444;
}

.NA .custom-radio{
    border-color:#f59e0b;
}

.NA input:checked + .custom-radio::after{
    background:#f59e0b;
}


.progress-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 10px; 
    padding: 10px 20px; 
    margin: 5px; 
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2); 
    font-size: 16px; 
    color: #333; 
    width: fit-content;
    position: relative; 
    top: 30px; 
}

.iso-header {
    display: flex; 
    align-items: center; 
    margin: 20px 0; 
    padding: 0 10px; 
    max-width: 1200px; 
    width: 100%; 
    position: relative; 
    left: 250px; 
    top: 20px; 
}

.back-arrow {
    text-decoration: none; 
    color: #f8d942; 
    font-size: 40px; 
    font-weight: bold; 
    margin-right: 10px;
}

.back-arrow:hover {
    color: #0e0910; 
}

.iso-topo {
    font-size: 28px; 
    font-weight: bold; 
    color: #f8d942; 
    margin: 0;
}

.question {
    margin: 1rem 0;
}



.tab {
    display: none;
}